$gris1:   #efefef;
$gris2:   #444444;
$gris3:   #333333;
$gris4:   #454545;
$gris5:   #556270;
$vert1 :  #97c300;
$bleu1:   #00adc1;
$bleu2:   #268080;
$bleu3:   #8ab5a4;
$orange1: #ff7437;
$violet1: #994dd1;
$rouge1:  #333333;
$rouge2:  #e1001a;

$color-primary-0: #AA5439;	// Main Primary color */
$color-primary-1: #FF835C;
$color-primary-2: #EA7651;
$color-primary-3: #6A3322;
$color-primary-4: #2A140D;

$color-secondary-1-0: #AA7539;	// Main Secondary color (1) */
$color-secondary-1-1: #FFB25C;
$color-secondary-1-2: #EAA251;
$color-secondary-1-3: #6A4822;
$color-secondary-1-4: #2A1C0D;

$color-secondary-2-0: #27576B;	// Main Secondary color (2) */
$color-secondary-2-1: #51AAD0;
$color-secondary-2-2: #377893;
$color-secondary-2-3: #173643;
$color-secondary-2-4: #09151B;

$color-complement-0: #28774F;	// Main Complement color */
$color-complement-1: #4ED993;
$color-complement-2: #39A46E;
$color-complement-3: #184A31;
$color-complement-4: #091E13;
