@import "color";
$breakSmall: 400px;
$breakMedium: 800px;
$breakLarge: 1300px;
body {
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 50px  300px auto ;

}
aside.main-aside {
    grid-row: 1/ span 3;
}
@media screen and (min-width: $breakMedium){



nav {
    ul>li{
        display: inline;
    }
}

header {
  //media :
  // display: grid;
  // grid-template-columns: 200px auto;
  aside {
  }

  section.content {
      display: grid;
      grid-template-rows: 20px 30px 1fr;
      div.over-nav {
          // min-height: 10px;
          width: 100%;
      }
      div.nav {
          display: grid;
          grid-template-columns: auto 20px;
          ul {
              padding-left: 0;

              display: flex;
              justify-content: space-around;
              li {
                  width: 100%;
                  list-style: none;
                  grid-template-columns: 200px auto;
              }
          }
          a {
              line-height: 2em;
          }
      }
  }
}
div.divArticle {
  padding: 0.5em;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    article {
      // border-radius: 15px;
      padding: 0.5em;
    }
    article:nth-child(1) {
      grid-column: 1 / span 2;
      grid-row: 1 / span 3;
    }
    article:nth-child(2) {
      grid-column: 1 / span 2;
      grid-row: 4 / span 1;
    }
    article:nth-child(3) {
      grid-column: 3 / span 1;
      grid-row: 1 / span 2;
    }
    article:nth-child(4) {
      grid-column: 4 / span 1;
      grid-row: 1 / span 2;
    }
    article:nth-child(5) {
      grid-column: 3 / span 2;
      grid-row: 3 / span 1;
    }
    article:nth-child(6) {
      grid-column: 3 / span 2;
      grid-row: 4 / span 1;
    }
}

.divThumb {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  a {
    img {
      width: 100%;
    }
  }
}

.sectionAutre, .sectionThumbAlt {
  display: inline;
  min-height: 200px;
}

div.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  .divThumbAlt {
    display: grid;
    grid-template-columns: repeat( 4, 1fr );
    img {
      width: 100%;
      height: auto;
    }
  }
}

section.foot {
  display: grid;
  grid-auto-rows: minmax(200px, auto);
}
section.foot-1 {
  grid-template-columns: repeat( 4, 1fr );
}
section.foot-2 {
  grid-template-columns: repeat( 1, 1fr );
}
section.foot-3 {
  grid-template-columns: repeat( 5, 1fr );
}
section.foot-4 {
  grid-template-columns: repeat( 7, 1fr );
}


section.wrapper {
  display: grid;

}
    header{
      display: grid;
      grid-template-columns: 200px auto;
  }


}
