@import "color";
@import "layout";
$breakSmall: 400px;
$breakMedium: 800px;
$breakLarge: 1300px;

aside.main-aside {
    background: $color-secondary-2-1;
}

nav {
    background: $color-complement-1;
}

header {
    background: $color-secondary-2-3;

    aside {
        background: $color-secondary-2-3;
    }

    section.content {
        background: $color-secondary-2-0;
        color: rgb(39, 149, 224);

        div.over-nav {
            background: $color-secondary-2-4;
        }


    }
}

header, nav {
    color: white;
    *:nth-child(5n) {
        background: $color-secondary-2-0;
    }

    *:nth-child(5n+1) {
        background: $color-secondary-2-1;
    }

    *:nth-child(5n+2) {
        background: $color-secondary-2-2;
    }

    *:nth-child(5n+3) {
        background: $color-secondary-2-3;
    }

    *:nth-child(5n+4) {
        background: $color-secondary-2-4;
    }
    a {
        background: none !important;
        color: white;
    }
}

section, body {
    background: $color-primary-0;
}

article:nth-child(5n) {
    background: $color-primary-0;
    color: white;
}

article:nth-child(5n+1) {
    background: $color-primary-1;
    color: white;
}

article:nth-child(5n+2) {
    background: $color-primary-2;
    color: white;
}

article:nth-child(5n+3) {
    background: $color-primary-3;
    color: white;
}

article:nth-child(5n+4) {
    background: $color-primary-4;
    color: white;
}
