@import "color";
$breakSmall: 400px;
$breakMedium: 800px;
$breakLarge: 1300px;
body {
    display: grid;
    background: $color-secondary-2-4;
    grid-template-columns: 50px auto;
    grid-template-rows: 50px  300px auto;

}


aside.main-aside {
  background: $color-secondary-2-1;
  grid-row: 1/ span 3;
}

nav {
    background: $color-complement-1;
    ul>li{
        display: inline;
    }
}

header.wrapper {
  background:  $color-secondary-2-2;
  //media :
  // display: grid;
  // grid-template-columns: 200px auto;
  aside {
    background: $color-secondary-2-3;
  }

  section.content {
      background: $color-secondary-2-4;
      color: rgb(39, 149, 224);
      display: grid;
      grid-template-rows: 20px 30px 1fr;
      div.over-nav {
          // min-height: 10px;
          width: 100%;
          background: $color-secondary-1-2;
      }
      div.nav {
          display: grid;
          grid-template-columns: auto 20px;
          ul {
              padding-left: 0;

              display: flex;
              justify-content: space-around;
              li {
                  list-style: none;
                  grid-template-columns: 200px auto;
              }
          }
          a {
              color: white;
          }
      }
  }
}
.sectionArticle {
    display: grid;
    grid-gap: 0.2rem;
    article {
        border-radius: 15px;
    }
}


section{
    background: $color-primary-0;
}

article {
    background: $color-primary-4;
    color: white;
}
section.wrapper {
  display: grid;

}
@media screen and (min-width: $breakMedium){
    header.wrapper {
      display: grid;
      grid-template-columns: 200px auto;
  }


}
